.container
{
    margin: 50px;
    
}

ul li
{
    list-style: none;
}

.deletebutton
{
    background-color: red;
    padding: 5px;
    width: 50px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.deleteallbutton
{
    background-color: red;
    padding: 5px;
    width: 75%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.seçili
{
    background-color: #D6D8D9;
    opacity: 0.9;
}